@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-main: hsl(51, 100%, 50%);
	--color-cta: hsl(231, 100%, 50%);
	--color-white: hsl(340, 100%, 98%);
	--color-gray: hsl(0, 0%, 27%);
	--color-footer: hsl(0 , 0% , 18%);
	--color-black: hsl(0, 0%, 10%);

    --font-*: initial;
    --font-sans: "Montserrat", sans-serif;

	--breakpoint-large-desktop: 1440px;
	--breakpoint-desktop: 1280px;
	--breakpoint-tablet: 768px;
	--breakpoint-mobile: 480px;
}

@utility container{
	padding-inline: 1rem;
	margin-inline: auto;
}